body,html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container{
  background-color: rgb(32, 32, 56);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.input{
  background-color: rgb(116, 110, 110);
  padding: 50px 100px;
  text-align: center;
  border: 5px solid black;
  width: 250px;
  border-radius: 20px;
}

p{
    font-size: 200%;
}

input{
    height: 50px;
    width: 250px;
    border-radius: 20px;
}

button{
    background-color: blue;
    height: 50px;
    width: 250px;
    border-radius: 20px;
}

button:hover{
    transform: scale(1.05);
    background-color: aliceblue;
}

.output{
    display: inline-flex;
    /* background-color: rgb(116, 110, 110); */
    padding: 50px 100px;
    text-align: left;
    /* border: 5px solid black; */
    width: 250px;
    border-radius: 20px;
}

p ,#scanmessage {
    font-size: 16px;
    color: #e5dbdb;
    text-align: left;
    padding: 14px;
    font-weight: bold; /* Optional, to make it stand out more */
}